extends layouts/default.pug

block content
  main
    h1 Goals of the Website

    p This website is meant as a place for notes as I progress through the course. The sections listed in the table of contents correspond to the sections of the course. When appropriate, a page will be added to demonstrate some of the concepts learned.

    section.toc
      h4 Table of Contents
      ul.toc__list
        h6 Course Content
        li.toc__list-item
          a(href="quick-overview.html") JQuery quick overview
        li.toc__list-item
          a(href="working-with-page-content.html") Working with Page Content
        li.toc__list-item
          a(href="manipulating-page-content.html") Manipulating Page Content
        h6 Demo Examples
        li.toc__list-item
          a(href="working.html") Working with Page Content Examples
        li.toc__list-item
          a(href="manipulating.html") Manipulating Page Content Examples