extends layouts/default.pug

block content
  main
    h1 Examples based on - 
      a(href="working-with-page-content.html") Working with Page Content

    h6 Basic Selectors

    +codeMulti('Javascript', '$("section.one-page-content p").css("color", "red");')

    h6 Basic Filters

    +codeMulti('Javascript', '$("section.two-page-content p:gt(2)").css("color", "green");')

    h6 Advanced Selectors

    +codeMulti('Javascript', '$("section.three-page-content div.one + p").css("color", "red");')

    h6 Attribute Selectors

    +codeMulti('Javascript', '$("section.four-page-content p[id^=sam]").css("color", "green");')

    h6 Advanced Filters

    +codeMulti('Javascript', '$("section.five-page-content p:contains("hammer")").css("color", "red");')

    h6 Traversing Documents

    +codeMulti('Javascript', '$("section.six-page-content p#name").next().css("color", "blue");')
    
    +codeMulti('Javascript', '$("section.six-page-content p").each(function(index, elem) {', '  $(elem).css("fontStyle", "italic");', '}')

    h6 Full Example

    +codeMulti('Javascript', '$("section.seven-page-content p[data-type=apple]").css("color", "green");', '$("section.seven-page-content p[data-type=cherry]").css("color", "red");', '$("section.seven-page-content p[data-type=orange]").css("color", "orange");')

    hr

    section.example-area
      h6 Code in Action - Examples
      article.example-area__samples
        h6 Example 1 - Basic Selectors 
          p targets - 
            em section.one-page-content p
        section.one-page-content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, reiciendis.
        h6 Example 2 - Basic Filters 
          p targets - 
            em section.two-page-content p:first, section.two-page-content p:gt(2)
        section.two-page-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
        h6 Example 3 - Advanced Selectors 
          p targets - 
            em section.three-page-content div.two ~ p
        section.three-page-content
          div.one DIV one
          p paragraph one
          div.two DIV two
          p paragraph two-1
          p paragraph two-2
        h6 Example 4 - Attribute Filters
          p targets - 
            em section.four-page-content p[id^=sam]
        section.four-page-content
          p#sample paragraph one - id = sample
          p#names paragraph two - id = names
          p#same paragraph three - id = same
          p#places paragraph four - id = places
        h6 Example 5 - Advanced Filters
          p targets - 
            em section.five-page-content p:contains("hammer")
        section.five-page-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem ipsum dolor sit amet hammer consectetur.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem vero!
        h6 Example 6 - Traversing Documents
          p targets - 
            em section.six-page-content p#name
        section.six-page-content
          p Welcome to the website
          p#name Bob Cobb
          p Please visit often
        h6 Example 7 - Full Example
          p color coding based on data-type value
        section.seven-page-content
          p(data-type="apple") apple
          p(data-type="orange") orange
          p(data-type="cherry") cherry
          p(data-type="cherry") cherry
          p(data-type="apple") apple
          p(data-type="grape") grape
          p(data-type="cherry") cherry
          p(data-type="orange") orange
          p(data-type="apple") apple