extends layouts/default.pug

block content
  main
    h1 Working with Page Content

    h6 Basic Selectors

    +codeMulti('Javascript', '$("section.one-page-content p").css("color", "red");')

    h6 Basic Filters

    +codeMulti('Javascript', '$("section.two-page-content p:gt(2)").css("color", "green");')

    h6 Advanced Selectors

    +codeMulti('Javascript', '$("section.three-page-content div.one + p").css("color", "red");')

    h6 Attribute Selectors

    +codeMulti('Javascript', '$("section.four-page-content p[id^=sam]").css("color", "green");')

    h6 Advanced Filters

    +codeMulti('Javascript', '$("section.five-page-content p:contains("hammer")").css("color", "red");')

    hr

    section.example-area
      h6 Code in Action - Examples
      article.example-area__samples
        h6 Example 1 - Basic Selectors 
          p targets - section.one-page-content p
        section.one-page-content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, reiciendis.
        h6 Example 2 - Basic Filters 
          p targets - section.two-page-content p:first, section.two-page-content p:gt(2)
        section.two-page-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nostrum dolorum harum!
        h6 Example 3 - Advanced Selectors 
          p targets - section.three-page-content div.two ~ p
        section.three-page-content
          div.one DIV one
          p paragraph one
          div.two DIV two
          p paragraph two-1
          p paragraph two-2
        h6 Example 4 - Attribute Filters
          p targets - section.four-page-content p[id^=sam]
        section.four-page-content
          p#sample paragraph one - id = sample
          p#names paragraph two - id = names
          p#same paragraph three - id = same
          p#places paragraph four - id = places
        h6 Example 5 - Advanced Filters
          p targets - section.five-page-content p:contains("hammer")
        section.five-page-content
          p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          p Lorem ipsum dolor sit amet hammer consectetur.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, voluptatem vero!