extends layouts/default.pug

block content
  main
    h1 Selectors and Filters

    p In JQuery - selectors and filters provide an easy way to find and extract information in the webpage so it can be acted upon.

    p
      strong Selectors 
      |are used to extract parts from the web page using CSS selector syntax. Things that can be selected include named classes, IDs, html element names, etc.

    p
      strong Filters 
      |are used to further refine selectors.

    h6 Example 1 - Selector with a Filter

    +codeMulti('Javascript', '$("document").ready(function() {', '  $("p:first").css("color", "red");', '}')

    h6 Example 2 - Selector with a more complex Filter

    +codeMulti('Javascript', '$("document").ready(function() {', '  $("p:not(.basic)").css("font-weight", "bold");', '});')


    hr

    section.example-area
      h6 Code in Action - Examples
      article.example-area__samples
        h6 Example 1 - Selector with a Filter
        section.one
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, amet!
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        hr
        h6 Example 2 - Selector with a more complex Filter
        section.two
          p.basic Basic Paragraph
          p.basic Basic Paragraph
          p.important Important Paragraph